{% extends 'base.html' %}
{% load static %}

{% block title %}SecureGrade — білім беру ақпараттық жүйесінде студенттер мен оқытушылардың дербес деректерін қауіпсіз сақтауға және өңдеуге арналған веб-платформа{% endblock title %}


{% block content %}
<section class="min-h-screen grid grid-cols-1 lg:grid-cols-2">
    <div class="flex justify-center items-center p-4 bg-primary-600">
        <div class="max-w-md w-full grid text-center gap-2 text-white">
            <img src="{% static 'images/admin-logo.svg' %}" class="w-96 mx-auto" alt="Brand logo">
            <h1 class="text-xl font-semibold"></h1>
            <span>
                Білім беру ақпараттық жүйесінде студенттер мен оқытушылардың дербес деректерін қауіпсіз сақтауға және өңдеуге арналған веб-платформа
            </span>
        </div>
    </div>

    <div class="relative grid md:flex justify-center items-center">
        <div class="grid gap-8 p-4">
            <div class="text-center">
                <img src="{% static 'images/icon.svg' %}" class="mx-auto mb-2" alt="">
                <h1 class="text-xl md:text-2xl font-black">Қош келдіңіз!</h1>
                <span class="text-muted">Тіркелген электронды пошта және пароль арқылу жүйеге кіру</span>
            </div>

            <form method="post" action="{% url 'login' %}" class="grid gap-4">
                {% csrf_token %}
                <div class="grid gap-4">
                    <div class="relative">
                        <label for="{{ form.username.id_for_label }}" class="block mb-2 ml-4 text-sm font-semibold">
                            Пайдаланушының аты
                        </label>
                        <input 
                            type="text"
                            id="{{ form.username.id_for_label }}"
                            name="username"
                            class="block w-full py-2.5 px-4 border border-border-300 text-foreground text-sm rounded-full focus:ring-primary-600 focus:border-primary-600"
                            placeholder="user.name" 
                            required 
                        />
                        {% if form.username.errors %}
                            {% for error in form.username.errors %}
                                <p class="text-sm text-destructive">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="relative">
                        <label for="{{ form.password.id_for_label }}" class="block mb-2 ml-4 text-sm font-medium">
                            Пароль
                        </label>
                        <input 
                            type="password" 
                            id="{{ form.password.id_for_label }}"
                            name="password"
                            class="block w-full py-2.5 px-4 border border-border-300 text-foreground text-sm rounded-full focus:ring-primary-600 focus:border-primary-600"
                            required 
                        />
                        {% if form.password.errors %}
                            {% for error in form.password.errors %}
                                <p class="text-sm text-destructive">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="grid gap-2">
                    <button 
                        type="submit" 
                        class="cursor-pointer focus:outline-none transition-all text-white bg-primary-600 hover:bg-primary-800 focus:ring-3 focus:ring-primary-300 font-medium rounded-full px-4 py-2.5"
                    >
                        Жүйеге кіру
                    </button>
                </div>
            </form>
        </div>


        <div class="md:absolute top-5 right-5">
            <a 
                href="{% url 'register' %}"
                class="w-full flex justify-center focus:outline-none transition-all bg-white border border-border-300 hover:bg-secondary-100 focus:ring-3 focus:ring-secondary-300 font-medium rounded-full px-4 py-2.5"
            >
                Регистрация
            </a>
        </div>
    </div>
</section>
{% endblock content %}