{% extends 'admin/base_site.html' %}

{% block extrahead %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

        body {
            font-family: "Inter Tight", sans-serif;
        }

        .login #container #header {
            justify-content: center;
        }

        .login #container #header #branding {
            text-align: center;
        }

        .view-link {
            font-weight: 500;
        }
    </style>
{% endblock %}
